<div class="flex justify-center items-center min-h-screen">
    <div class="p-8 w-full max-w-3xl">
      
      <h2 class="text-4xl font-bold text-purple-700 mb-4 flex items-center gap-2 justify-center">
        ⚔️ Editar Tipo Del Guerrero
      </h2>
  
      <p class="text-center text-sm text-orange-600 font-semibold mb-6">
        Selecciona el tipo del guerrero haciendo clic en una de las tarjetas
      </p>
      
      <form [formGroup]="typeWarriorForm" (ngSubmit)="updateTypeWarrior()" class="space-y-5">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div *ngFor="let typeWarrior of typeWarriorList"
             (click)="selectType(typeWarrior.typeWarriorId)"
             [ngClass]="{
               'bg-purple-600 text-white shadow-lg scale-[1.02]': typeWarriorForm.value.typeWarriorId === typeWarrior.typeWarriorId,
               'bg-gray-50 text-gray-800 hover:shadow-md': typeWarriorForm.value.typeWarriorId !== typeWarrior.typeWarriorId
             }"
             class="cursor-pointer p-5 border rounded-xl transition-all duration-200 ease-in-out">
  
          <h3 class="font-semibold text-lg mb-1"
              [ngClass]="{
                'text-white': typeWarriorForm.value.typeWarriorId === typeWarrior.typeWarriorId,
                'text-gray-800': typeWarriorForm.value.typeWarriorId !== typeWarrior.typeWarriorId
              }">
            {{ typeWarrior.typeWarriorName }}
          </h3>
  
          <p class="text-sm"
             [ngClass]="{
               'text-white': typeWarriorForm.value.typeWarriorId === typeWarrior.typeWarriorId,
               'text-gray-600': typeWarriorForm.value.typeWarriorId !== typeWarrior.typeWarriorId
             }">
            {{ typeWarrior.typeWarriorDescription }}
          </p>
  
        </div>
      </div>
       <!-- Botón -->
       <div class="pt-4 justify-center w-full flex">
            <button type="submit"
            class="w-80 bg-gradient-to-r from-purple-500 to-blue-700 hover:from-blue-700 hover:to-blue-800 text-white font-semibold py-3 rounded-xl shadow-lg transition duration-300">
            🗡️  Editar
            </button>
       </div>
    </form>
    </div>
  </div>
  